*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    padding: 10px;
    /* border: 1px solid black; */
    width: 37%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h2{
    text-align: center;
}

.container input{
    width: 100%;
    max-width: 500px;
    padding: 8px;
}
.container button{
    width: 150px;
    min-width: 40px;
    padding: 8px;
    font-size: 20px;
    background-color: #00a6f9;
}
.container p{
    font-size: 18px;
    font-weight: bold;
}

#result{
    font-size: 17px;
    font-weight: 500;
    color: black;
}