<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
</head>
<body>
    <h1>All users</h1>
    <% users.forEach(ele => { %>
        <li><%= ele.firstName %> <%= ele.lastName %></li>
    <% }) %>

    
</body>
</html>